@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html{
  scroll-behavior: smooth;
}

.btn{
  border-radius: 50px;
  padding: auto;
}
body {
  font-family: 'Poppins', sans-serif;
}
.nav{
  flex-direction: row;
  display: flex;
    align-content: center;
    margin: 13px 0 10vw 20vw;
    width: 70%;
}
.Input {
  box-sizing: border-box;
  padding-left: 0.875rem;
  margin: 0;
  border: 1px solid var(--color-gray-200);
  width: 100%;
  max-width: 16rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  background-color: transparent;
  color: var(--color-gray-900);

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}
.chat-window {
  max-height: 200px;
  overflow-y: auto;
  background: #383737;
  padding: 1em;
  border-radius: 20px;
  margin-top: 10px;
}
.chat-bubble {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.chat-bubble.user {
  background-color: #25252554;
  align-self: flex-end;
}
.chat-bubble.ai {
  background-color: #3333339c;
  align-self: flex-start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Poppins';
 
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}.bng{
      max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  }
@media screen and (max-width: 754px) {
  .subIndex {
    flex-direction: column;
    overflow-x: hidden;
    
  }
  .bgc{
    width: 60px; /* You can adjust width here */
  height: auto;
  }
  .spin-slow{
    margin-left: 120px;
    width: 80vw;
  }
  .nav-full {
    display: none;
  }
  .nav{
    display: none;
  }
  .index-container {
    text-align: center;
    padding: 3vw;
    margin-left: 4vw;
  }
  .index-container > h2 {
    font-size: 40px;
    max-width: 75vw;
    margin-left: 120px;
  }
  .index-container > p {
    width: 70vw;
    margin-left: 120px;
  }
}
@media screen  and (min-width:820px) and (max-width:1194px){
  .nav{
    width: 100%;
  }
  .nav > div {
    width: 100%;
    font-size: medium;
    
  }
  .nav > div > a {
    width: fit-content;
   font-weight: 500;
    font-size: smaller;
    
  }
  .nav  button{
    width: 10vw;
    padding-top: -20px;
  }
}
@media screen and (min-width: 735px) and (max-width: 1200px) {
  .subIndex {
    flex-direction: column;
    overflow-x: hidden;
    margin-left: -40px;
  }
  .nav{
    width: 83%;
    margin-left: 10vw;
  }
  .nav-full > div {
    width: 90%;
  }
  .nav-full > div > ul {
    margin-top: .5rem;
  }
  .index-container {
    text-align: center;
    padding-left: 3vw;
  }
  .spin-slow{
    margin-left: -60px;
  }
  .index-container > h2 {
    font-size: 45px;
    width: 88vw;
  }
  .index-container > p {
    width: 70vw;
    padding-left: 10rem;
  }
}